html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  background: whitesmoke;
  color: black;
  text-align: center;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Blade Runner;
  src: url("./fonts/BLADRMF_.TTF");
}

.title {
  font-family: Blade Runner;
  text-align: center;
  font-size: 2.5em;
  margin: 0.5em 0 0 0;
}

h1 {
  font-size: 2.5em;
}

.main-container {
  min-height: 100%;
}

.header-container {
  background: linear-gradient(0deg, #000000, #d02887);
  background-size: 200% 200%;
  color: white;
  padding: 0.8em;
  border-radius: 0 0 100px 100px;
  background-clip: padding-box;
  -webkit-animation: GradientAnimation 8s ease infinite;
  -moz-animation: GradientAnimation 8s ease infinite;
  animation: GradientAnimation 8s ease infinite;
}

@-webkit-keyframes GradientAnimation {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 51% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@-moz-keyframes GradientAnimation {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 51% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@keyframes GradientAnimation {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 51% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

.header-container a {
  text-decoration: none;
  color: white;
}

hr {
  display: block;
  width: 200px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

nav ul li a h4 {
  position: relative;
  text-decoration: none;
  color: white;
  margin: 1em;
}

nav ul li a h4:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

nav ul li a h4:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(3=200px, 1fr));
  grid-gap: 1.5em;
  height: auto;
  width: 75%;
  margin: 1em auto 1em auto;
  padding: 1em 4em 6em 4em;
  overflow: auto;
}

.grid-container img {
  width: 100%;
  border-radius: 15px;
}

.grid-container a {
  text-decoration: none;
  color: black;
}

.grid-container h3 {
  font-weight: bolder;
}

.main-story,
.item-b,
.item-c,
.secondary-items {
  padding: 1em;
}

.subhead {
  display: none;
}

.card {
  background: white;
  box-shadow: 0 1.8px 3.6px -25px rgba(0, 0, 0, 0.6),
    0 5px 10px -25px rgba(0, 0, 0, 0.391),
    0 12.1px 24.1px -25px rgba(0, 0, 0, 0.3),
    0 40px 80px -25px rgba(0, 0, 0, 0.209);

  border-radius: 15px;
  transition: 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 1.8px 3.6px -25px rgba(0, 0, 0, 0.3),
    0 5px 10px -25px rgba(0, 0, 0, 0.195),
    0 12.1px 24.1px -25px rgba(0, 0, 0, 0.15),
    0 40px 80px -25px rgba(0, 0, 0, 0.105);
  transform: scale(1.03, 1.03);
}

.story-card {
  background: white;
  box-shadow: 0 1.8px 3.6px -25px rgba(0, 0, 0, 0.6),
    0 5px 10px -25px rgba(0, 0, 0, 0.391),
    0 12.1px 24.1px -25px rgba(0, 0, 0, 0.3),
    0 40px 80px -25px rgba(0, 0, 0, 0.209);

  border-radius: 15px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
  flex-wrap: wrap;
}

.flex-container section {
  flex-grow: 1;
  flex-basis: 25%;
  margin: 2em;
}
.flex-container section a img {
  border-radius: 15px;
  height: 200px;
}

.story-container {
  display: block;
  max-width: 640px;
  margin: 2em auto 5em auto;
  padding: 1em;
  line-height: 2;
}

.story-container img {
  border-radius: 15px;
  width: 350px;
}

.story {
  text-align: left;
}

.byline {
  display: block;
  font-weight: bold;
  text-align: center;
}

.footer-container {
  background: linear-gradient(0deg, #d02887, #000000);
  background-size: 200% 200%;
  padding: 1em;
  position: relative;
  clear: both;
  border-radius: 100px 100px 0 0;
  background-clip: padding-box;
  -webkit-animation: GradientAnimation 8s ease infinite;
  -moz-animation: GradientAnimation 8s ease infinite;
  animation: GradientAnimation 8s ease infinite;
}

footer ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-content: center;
  padding: 0em;
}

footer ul li a {
  position: relative;
  margin: 3em;
  text-decoration: none;
  color: white;
}

footer ul li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

footer ul li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.ad-quote {
  display: block;
  font-style: italic;
  margin: 1em;
  font-size: 0.8em;
}

@media screen and (min-width: 1600px) {
  .main-story {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    margin: auto;
    justify-self: center;
    align-self: start;
    padding: 3em;
  }

  .main-story img {
    width: 80%;
  }

  .main-story h3 {
    font-size: 1.6em;
  }

  .item-b {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
    margin: auto;
    justify-self: center;
    align-self: center;
  }

  .item-c {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    margin: auto;
    justify-self: center;
    align-self: center;
  }

  .subhead {
    display: inline;
  }

  .secondary-items {
    justify-self: center;
    align-self: center;
    height: 250px;
  }

  .item-b img,
  .item-c img,
  .secondary-items img {
    max-width: 225px;
    height: auto;
  }
}

@media screen and (max-width: 1600px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    width: 55%;
  }

  .main-story {
    grid-column: 1 / 3;
  }

  .main-story h3 {
    font-size: 1.8em;
  }

  .subhead {
    display: block;
    padding: 0.5em;
  }
}

@media screen and (max-width: 1180px) {
  h3 {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 880px) {
  .title {
    font-size: 2.2em;
  }

  h3 {
    font-size: 1em;
  }

  .grid-container {
    width: 75%;
    padding: 1em 2em 6em 2em;
  }

  .main-story h3 {
    font-size: 1.4em;
  }

  .story-container {
    width: 80%;
  }

  footer ul li a {
    margin: 0.8em;
    font-size: 0.9em;
  }
}

@media screen and (max-width: 650px) {
  .title {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }

  hr {
    width: 150px;
  }

  .ad-quote {
    display: none;
  }

  nav ul {
    margin: 0;
  }

  nav ul li a {
    font-size: 0.7em;
  }

  .grid-container {
    width: 85%;
    margin-top: 0.05em;
  }

  .main-story h3 {
    font-size: 1.2em;
  }

  .ad-quote {
    display: none;
  }

  h3 {
    font-size: 0.9em;
  }

  footer ul li a {
    margin: 0.5em;
    font-size: 0.8em;
  }

  .flex-container section a img {
    width: 350px;
    height: auto;
  }

  .story-container {
    width: 85%;
  }

  .story-container h1 {
    font-size: 1.8em;
  }

  .story-container img {
    width: 300px;
  }
}
